<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title> VITA </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='normalise.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap" rel="stylesheet"/>
</head>
<body>
    <div class="header">
        <div class="linha" >
            <header>
                <div class="coluna col4"> 
                    <h1 class="logo">VITA</h1>
                </div>
                <div class="coluna col8">
                    <nav>
                        <ul class="menu inline sem-marcador">
                            <li><a href="{{ url_for('index') }}">home</a></li>
                            <li><a href="{{ url_for('clientes') }}">professores</a></li>
                            <li><a href="{{ url_for('servicos') }}">competições</a></li>
                            <li><a href="{{ url_for('sobre') }}">sobre</a></li>
                            <li><a href="{{ url_for('contato') }}">contato</a></li>
                        </ul>
                    </nav>                    
                </div>
            </header>
        </div>
    </div> 
    {% block content %}{% endblock %}
</body>
</html>
